.sidebar {
    display: flex;
    width: 280px;
    padding: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}

.sidebar a {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 999px;
    background: #FBFBFB;
    color: #9CA1A6;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
}

.sidebar a.active {
    color: #0B3C70;
}