.containerSuperior {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch; 
    margin-top: 90px;
}

@media(width <= 1024px) {
    .containerSuperior {
        flex-direction: column-reverse;
        /*padding: 12px;*/
    }
}