.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.options {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.addUser {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid var(--white, #FFF);
    background: var(--white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
    color: var(--colors-Info, #285FF5);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.addUser:hover {
    cursor: pointer;
    background: var(--white, #ececec);
}