.container {
    display: flex;
    width: 31%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
    background: var(--white, #FFF);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.title>h2 {
    color: var(--primary, #0B3C70);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title>div {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7.273px 8.727px;
    justify-content: center;
    align-items: center;
    gap: 2.909px;
    aspect-ratio: 1/1;
    border-radius: 8.727px;
    background: var(--primary, #0B3C70);
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.date h3 {
    color: var(--dark-02, #7B8794);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
}

.counter {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--light-02, #E7E7E7);
}

.counter h2 {
    color: var(--dark-01, #333);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.entrada {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 100px;
    background: var(--primary, #0B3C70);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pausa {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 100px;
    background: #FFE7D5;
    color: var(--colors-Warning, #FF7300);
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.salida {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 100px;
    background: var(--light-01, #F9F9F9);
    color: var(--primary, #0B3C70);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.entrada:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #0B3C70;
    cursor: pointer;
}

.pausa:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), #FFE7D5;
    cursor: pointer;
}

.salida:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), #F9F9F9;
    cursor: pointer;
}

.salida:disabled {
    background: var(--light-01, #F9F9F9);
    color: var(--dark-03, #B6BEC9);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.salida:disabled:hover {
    cursor: not-allowed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: inline-flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    border-radius: 12px;
    background: var(--white, #FFF);
}

.svgModal {
    position: absolute;
    right: 18px;
    top: 16px;
}

.svgModal {
    cursor: pointer;
}

.contentModal {
    display: flex;
    /*width: 702px;*/
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.contentModal h3 {
    color: var(--primary, #0B3C70);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contentModal p {
    color: var(--dark-02, #7B8794);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonsModal {
    display: flex;
    width: 322px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buttonsModal button:first-child {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 100px;
    background: var(--light-01, #F6F6F6);
    color: var(--primary, #0B3C70);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonsModal button:last-child {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 100px;
    background: var(--primary, #0B3C70);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonsModal button:first-child:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), #F6F6F6;
    cursor: pointer;
}

.buttonsModal button:last-child:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #0B3C70;
    cursor: pointer;
}

@media(width <=1024px) {
    .container {
        display: flex;
        height: 272px;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        align-self: stretch;
    }

    .date h3 {
        color: var(--dark-02, #7B8794);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        width: 100%;
        text-align: center;
    }
}