.container {
    display: flex;
    width: 31%;
    padding: 18px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--white, #FFF);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.title > h2 {
    color: var(--primary, #0B3C70);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title > div {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 9.091px 10.909px;
    justify-content: center;
    align-items: center;
    gap: 3.636px;
    aspect-ratio: 1/1;
    border-radius: 10.909px;
    background: var(--primary, #0B3C70);
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.date h3 {
    color: var(--dark-02, #9C9FA1);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.counter {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--light-02, #E7E7E7);
}

.counter h2 {
    color: var(--dark-01, #252525);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.entrada {
    display: flex;
    height: 44px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 100px;
    background: var(--primary, #0B3C70);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pausa {
    display: flex;
    height: 44px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 100px;
    background: #FFE7D5;
    color: var(--colors-Warning, #FF7300);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.salida {
    display: flex;
    height: 44px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 100px;
    background: var(--light-01, #F9F9F9);
    color: var(--primary, #0B3C70);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.salida:disabled {
    background: var(--light-01, #F9F9F9);
    color: var(--dark-03, #B6BEC9);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.salida:disabled:hover {
    cursor: not-allowed;
}

.entrada:hover,
.pausa:hover,
.salida:hover {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: inline-flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    border-radius: 12px;
    background: #FFF;
}

.svgModal {
    position: absolute;
    right: 18px;
    top: 16px;
}

.svgModal {
    cursor: pointer;
}

.contentModal {
    display: flex;
    width: 702px;
    flex-direction: column;
    align-items: center;
    gap: 12px; 
}

.contentModal h3 {
    color: #0B3C70;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contentModal p {
    align-self: stretch;
    color: var(--light-03, #7B8794);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonsModal {
    display: flex;
    width: 386px;
    height: 43px;
    align-items: center;
    gap: 12px;
} 

.buttonsModal button:first-child {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;
    color: #0B3C70;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonsModal button:last-child {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 100px;
    background: #0B3C70;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonsModal button:hover {
    cursor: pointer;
}