.container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--white, #FFF);
}

.container > h3 {
    align-self: stretch;
    color: var(--primary, #0B3C70);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content {
    display: flex;
    padding: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 0px 0px 6px 6px;
    background: #FFF;
}