.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.content {
    display: flex;
    padding: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 6px;
    background: #FFF;
}

.line {
    width: 775px;
    height: 1px;
    background: rgba(209, 209, 209, 0.30);
}