.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.option h4 {
    color: #7B8794;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.state {
    display: flex;
    width: 90px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: #DCFCE7;
}

.state p {
    color: var(--colors-Sucess, #04B500);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.location {
    width: 120px;
    padding: 4px 10px;
    border-radius: 6px;
    border: 1px solid var(--light-02, #EDEDED);
    background: var(--light-01, #F6F6F6);
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.location option {
    padding: 4px 6px;
    color: #0B3C70;
    font-size: 14px;
    font-weight: 400;
}

.day {
    display: flex;
    width: 110px;
    padding: 4px 6px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
}

.day p {
    color: #7B8794;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.modify {
    display: flex;
    padding: 4px 10px;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid var(--light-02, #EDEDED);
    background: #FFF;
}

.modify p {
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}