.nav {
    display: flex;
    padding: 12px 18px;
    justify-content: flex-end;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border-bottom: 1px solid rgba(123, 135, 148, 0.20);
    background: var(--white, #FFF);
    position: fixed;
    z-index: 1;
    /*min-width: 1525px;*/
    width: 100%;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.navContainer > h1 {
    color: var(--primary, #0B3C70);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

