.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.container h3 {
    color: #7B8794;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.counter {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
}

.counter h2 {
    color: #3C3C3B;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
