.button {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #F2F2F2;
    background: #F6F6F6;
    color: #7B8794;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .5s linear;
}

.button svg {
    aspect-ratio: 1/1;
}

.button:hover {
    cursor: pointer;
}