.bienvenida {
    display: flex;
    width: 576px;
    padding: 50px 41px;
    flex-direction: column;
    align-items: flex-start;
    gap: 150px;
    flex-shrink: 0;
    align-self: stretch;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/images/login_image.jpg) lightgray 50% / cover no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.header h1 {
    align-self: stretch;
    color: var(--white, #FFF);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header h2 {
    color: var(--white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 411px;
}

@media (width < 400px) {
    .bienvenida {
        padding: 32px 20px;
        justify-content: center;
        gap: 32px;
        align-self: stretch;
        width: 100%;
    }

    .header {
        gap: 12.857px;
    }

    .header>h1 {
        font-size: 28px;
    }

    .header>h2 {
        font-size: 10.714px;
        /*width: 293.571px;*/
        width: 100%;
    }
}

@media (400px <=width <=1024px) {
    .bienvenida {
        padding: 24px 41px;
        gap: 28px;
        width: 100%;
        /*height: 431px;*/
    }

    .header>h2 {
        font-size: 10.714px;
        /*width: 293.571px;*/
        width: 100%;
    }
}