.filtro {
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
    position: relative;
}

.filtro:hover {
    background: var(--light-01, #F6F6F6);
}

.filtro p {
    color: var(--light-03, #7B8794);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.filtro {
    cursor: pointer;
}

.filtro .totalUsers {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: var(--sizes-round, 100px);
    background: var(--colors-Info, #285FF5);
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.container {
    display: inline-flex;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: absolute;
    top: 100%;
    right: 0%;
    border-radius: 6px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4.8px 1px rgba(0, 0, 0, 0.10);
    width: 100%;
}

.option {
    display: flex;
    padding: 8px 6px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 6px;
    cursor: pointer;
    color: #252525;
}

.option:hover {
    background: var(--blue-light, #F5F7FF);

}

.option>p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.option input[type=checkbox]:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}