.tooltipContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.tooltip {
    display: flex;
    width: 240px;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
    background: var(--primary-dark, #07101D);
    position: absolute;
    top: -75px;
    transition: all 1.5s ease;
    opacity: 0;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid var(--primary-dark, #07101D);
    position: absolute;
    bottom: -10px;
}

.tooltip.open {
    /*transform: translate(-30px);*/
    opacity: 1;
}