.wraper {
    display: flex;
    padding: 18px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
    background: #F6F6F6;
}

.containerSuperior {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch; 
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}