.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.date h3 {
    color: #7B8794;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.counter {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
}

.counter h2 {
    color: #3C3C3B;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.entrada {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #0B3C70;
    background: #0B3C70;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pausa {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
        border-radius: 6px;
    border: 1px solid #FFDFDF;
    background: #FFE7D5;
    color: #E94544;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.salida {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;
    color: #0B3C70;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.entrada:hover,
.pausa:hover,
.salida:hover {
    opacity: 0.8;
    cursor: pointer;
}